// .checkout-container {
//   width: 60%;
//   margin: 0 auto;

//   .checkout-header {
//     width: 100%;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     column-gap: 5px;
//     justify-content: center;
//   }

//   .total {
//     width: 100%;
//     text-align: right;
//     font-size: 32px;
//     border-top: 1px solid black;
//     padding-top: 20px;
//   }
// }

.checkout-container {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
