.product-title {
  font-size: larger;
  text-align: center;
  text-transform: uppercase;
}

.product-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  span {
    cursor: pointer;
  }
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  margin-bottom: 2rem;
}
